h1, h2, h3, h4, h5, h6 {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    line-height: 1.1;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}

ul, ol {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul {
    list-style: disc;
    ul {
        list-style: circle;
        ul {
            list-style: square;
        }
    }
}

ol {
    list-style: decimal;
}

i, em {
    font-style: italic;
}

strong {
    font-weight: 700;
}
