h1, h2, h3, h4, h5, h6 {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    line-height: 1.1;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}

i, em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

// Default Editor styles
.alignleft,
img.alignleft {
    margin-right: 1.5em;
    display: block;
    float: left;
}

.alignright,
img.alignright {
    margin-left: 1.5em;
    display: block;
    float: right;
}

.aligncenter,
img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
    margin-bottom: 10px;
}

.alignnone,
img.alignnone {
    /* not sure about this one */
}

.wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
    max-width: 100%;
}

.wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
}

:not(.wp-caption) {
    > img {
        margin: 10px 0 15px 0;
    }
}

.wp-caption p.wp-caption-text {
    line-height: 1.5;
}

.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

blockquote {
    margin: 20px 0;
    padding: 30px;
    background: #e8f8ff;
    border-left: 5px solid #123c4d;
    position: relative;

    &:before {
        content: "\275D";
        font-size: 30px;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &:after {
        content: "\275E";
        font-size: 30px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    &.left {
        margin-right: 20px;
        text-align: right;
        margin-left: 0;
        width: 33%;
        float: left;
    }
    &.right {
        margin-left: 20px;
        text-align: left;
        margin-right: 0;
        width: 33%;
        float: right;
    }
}
