.clearfix, .jankx-clearfix {
    clear: both;
}

.jankx-loading {
    display: none;
}

.jankx-logo {
    &.image {
        a {
            display: block;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 100%;
            height: 60px;
            width: 180px;
            text-indent: -9999px;
        }
    }
}


#jankx-main-content {
    line-height: 180%;
    position: relative;
}

.jankx-footer-widgets-area {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jankx-copyright {
    padding-top: 40px;
    padding-bottom: 40px;
}


.main-content {
    .entry-content {
        @import "content_style";
    }
    .post-content {
        margin-top: 10px;
    }
    img {
        max-width: 100%;
    }
}

.main-content {
    &:not(.list-none-style) {
        .entry-content {
            ul, ol {
                margin-left: 25px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            ul {
                list-style: disc;
                ul {
                    list-style: circle;
                    ul {
                        list-style: square;
                    }
                }
            }

            ol {
                list-style: decimal;
            }
        }
    }
}

table {
    margin-top: 20px;

    thead th, td.heading {
        font-weight: bold;
        background: #e5e5e5;
    }
    &:not(.no-border) {
        th, td {
            border: 1px solid #ddd;
            border-collapse: collapse;
            padding: 5px;
        }
    }
}

.entry-content {
    iframe {
        max-width: 100%;
        min-height: 220px;
        height: auto;
        display: block;
        margin: 10px auto 20px;
    }
    @import "./content_style";
}

@media (min-width: 678px) {
    .entry-content {
        iframe {
            min-height: 360px;
        }
    }
}

@media(min-width: 767px) {
    .jankx-site-header {
        &.sticky-header {
            transition: all 0.5s;
            &.sticky {
                position: fixed;
                top: 0;
                width: 100%;

                background-color: #fff;
            }
        }
    }

    html.pin-menu {
        &.has-admin-bar {
            .jankx-site-header {
                &.sticky-header {
                    &.sticky {
                        top: 31px;
                    }
                }
            }
        }
    }

    .jankx-ui {
        &.navigation {
            .jankx-subtitle {
                &.position-bottom, &.position-top {
                    display: block;
                }
                &.position-top {
                    margin-bottom: 2px;
                }
                &.position-bottom {
                    margin-top: 2px;
                }
                font-size: 88%;
            }
        }
    }
}

@media(max-width: 767px) {
    .jankx-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
