@media(min-width: 1200px) {
    .default-navigation {

        :not(.widget_nav_menu)>div>ul.menu,
        .navigation>div.menu>ul {
            margin-left: -10px;
            margin-right: -10px;

            li {
                padding: 5px 10px;
            }
        }
    }
}

@media(min-width: 768px) {
    #mobile-menu {
        position: relative;
        background-color: #fff;
        z-index: 99;
    }

    .jankx-ui {
        &.navigation {
            width: 100%;
        }
    }

    .default-navigation {
        &.navigation {
            width: 100%;
        }

        :not(.widget_nav_menu)>div>ul.menu,
        .navigation>div.menu>ul {
            display: flex;
            align-items: center;
            margin-left: -5px;
            margin-right: -5px;

            >li {
                position: relative;
                padding: 5px 5px;

                &:hover {
                    .sub-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                &.jkxp-center {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                }

                &.jkxw-stretch {
                    flex: 1;
                }

                &.strong {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .sub-menu {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.5s linear;

                position: absolute;
                top: 100%;
                z-index: 10;
                background: #fff;
                min-width: 250px;

                >li {
                    position: relative;
                    display: block;
                    white-space: nowrap;

                    &:hover {
                        .sub-menu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }

                    >.sub-menu {
                        visibility: hidden;
                        opacity: 0;
                        transition: visibility 0s, opacity 0.5s linear;

                        position: absolute;
                        top: 0;
                        left: 100%;
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .default-navigation {

        :not(.widget_nav_menu)>div>ul.menu,
        .navigation>div.menu>ul {
            li {
                &.hide-tablet {
                    display: none;
                }

                &.mobile-only {
                    display: none;
                }

                &.desktop-only {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .default-navigation {

        :not(.widget_nav_menu)>div>ul.menu,
        .navigation>div.menu>ul {
            li {
                &.hide-desktop {
                    display: none;
                }

                &.mobile-only {
                    display: none;
                }

                &.tablet-only {
                    display: none;
                }
            }
        }
    }
}

@media(max-width: 767px) {
    .default-navigation {

        :not(.widget_nav_menu)>div>ul.menu,
        .navigation>div.menu>ul {
            li {
                &.hide-mobile {
                    display: none;
                }

                &.desktop-only {
                    display: none;
                }

                &.tablet-only {
                    display: none;
                }


                /*******************************
                 * Work with menu-icons plugins
                 ******************************/
                &.mobile-hide-text {
                    span {
                        display: none;
                    }
                }

                &.mobile-hide-icon {
                    ._mi {
                        display: none;
                    }
                }
            }
        }
    }

    // mmenu styles
    .mm-spn {
        .menu-item {
            a {
                display: flex;
                flex-wrap: wrap;
            }
            &:after {
                margin-left: 0;
            }
        }
    }
}
