@media(max-width: 767px) {
    .jankx-site-header {
        .navigation {
            width: 100%;
            ul.menu, ul.sub-menu {
                padding: 0;
                margin: 0;
            }

            ul.sub-menu {
                display: none;
            }

            li.menu-item {
                &.menu-item-has-children {
                    position: relative;
                    .show-child {
                        position: absolute;
                        right: 5px;
                        top: 0;
                        margin-top: -4px;
                        padding: 5px;
                    }
                }
                &.show-sub {
                    >.show-child {
                        transform: rotate(180deg);
                    }
                    > ul.sub-menu {
                        display: block;
                    }
                }
            }

        }

        .navigation-primary {
            ul.menu, ul.sub-menu {
                width: 100%;
            }

            ul.menu {
                >li.menu-item{
                    border-bottom: 1px solid #d5d5d5;
                    &:last-child, &.menu-item-type-jankx-logo{
                        border-bottom: none;
                    }
                }
                li.menu-item {
                    flex-direction: column;
                    a {
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }
    }
}
