@media(max-width: 767px) {
    .menu-style-collapse {
        .jankx-site-header {
            .jankx-elementor, .navigation {
                display: none;
            }

            &.show {
                .jankx-elementor, .navigation {
                    display: block;
                }
            }
        }
    }
}

html.jankx-mobile {
    .menu-style-collapse {
        .jankx-site-header {
            .jankx-elementor, .navigation {
                display: none;
            }

            &.show {
                .jankx-elementor, .navigation {
                    display: block;
                }
            }
        }
    }
}
