body.mmenu-offcanvas {
    #page {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        overflow-x: hidden;
        position: relative;
        left: 0;

    }

    &.mm-ocd-opened {
        #page {
            left: calc(80vw);
        }

        &.mm-wide-panel {
            #page {
                left: 440px;
            }
        }
    }

    .mm-ocd__content {
        width: 80vw;
        z-index: 50;
    }
    .mm-ocd__backdrop {
        width: 100%;
    }
}

.jankx-show-mobile-menu {
    display: none;
}

@media(max-width: 767px) {
    .jankx-show-mobile-menu {
        display: block;
    }

    .jankx-site-header {
        .navigation {
            width: 100%;

            ul.menu,
            ul.sub-menu {
                padding: 0;
                margin: 0;
            }

            ul.sub-menu {
                display: none;
            }

            li.menu-item {
                &.menu-item-has-children {
                    position: relative;

                    .show-child {
                        position: absolute;
                        right: 5px;
                        top: 0;
                        margin-top: -4px;
                        padding: 5px;
                    }
                }

                &.show-sub {
                    >.show-child {
                        transform: rotate(180deg);
                    }

                    >ul.sub-menu {
                        display: block;
                    }
                }
            }

        }

        .navigation-primary {

            ul.menu,
            ul.sub-menu {
                width: 100%;
            }

            ul.menu {
                >li.menu-item {
                    border-bottom: 1px solid #d5d5d5;

                    &:last-child,
                    &.menu-item-type-jankx-logo {
                        border-bottom: none;
                    }
                }

                li.menu-item {
                    flex-direction: column;

                    a {
                        display: block;
                        padding: 10px;
                    }
                }
            }
        }
    }


    body.mmenu-offcanvas {
        #offcanvas-menu {
            display: none;
        }

        &.mm-ocd-opened {
            #offcanvas-menu {
                display: block;
            }
        }
    }
}