.mobile-header-elements {
    display: flex;
    position: relative;

    .mobile-header-element {
        &.element-hamburger {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &.element-logo {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }
}

.toggle-button {
    background: none;
    outline: 0;
    border: none;
}

html.menu-collapsed {
    .jankx-site-header {
        &.show {
            .header-collapse {
                max-height: calc(100% - 155px);
                width: 100%;
                overflow-y: scroll;
            }
        }
    }
}

.menu-style-slideout {
    .element-hamburger {
        left: 10px;
    }
}
.menu-style-collapse {
    .element-hamburger {
        right: 10px;
    }
}

@media(min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

@media(max-width: 767px) {
    .mobile-header {
        display: block;
    }
    .menu-style-collapse {
        .jankx-site-header {
            .header-collapse {
                background-color: #fff;
                display: none;
                z-index: 99;
            }

            &.show {
                .header-collapse {
                    display: block;
                }
            }
        }
    }
}

html.jankx-mobile .mobile-header {
    display: block;
}

html.jankx-mobile {
    overflow-x: hidden;
    .menu-style-collapse {
        .jankx-site-header {
            .header-collapse {
                display: none;
            }

            &.show {
                .header-collapse {
                    display: block;
                }
            }
        }
    }
}
