.mobile-header-elements {
    display: flex;
    position: relative;

    .mobile-header-element {
        &.element-hamburger {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &.element-logo {
            flex: 1;
            display: flex;
            justify-content: center;
        }
    }
}

.menu-style-slideout {
    .element-hamburger {
        left: 10px;
    }
}
.menu-style-collapse {
    .element-hamburger {
        right: 10px;
    }
}

@media(min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

@media(max-width: 767px) {
    .mobile-header {
        display: block;
    }
}

html.jankx-mobile .mobile-header {
    display: block;
}
