.mobile-header-elements {
    display: flex;
    position: relative;

    .mobile-header-element {
        &.element-logo {
            order: 2;
            flex: 1;
            display: flex;
            justify-content: center;
        }
        &.element-hamburger {
            order: 1;
        }
    }
}

.menu-style-slideout {
    .element-hamburger {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media(min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

@media(max-width: 767px) {
    .mobile-header {
        display: block;
    }
}

html.jankx-mobile .mobile-header {
    display: block;
}
