/************************
 * Social sharing
 ************************/
#jankx-sharing-content {
    display: none;
}
.social-sharing-button {
    cursor: pointer;
}
.jankx-socials-sharing {
    .jankx-sharing-button {
        cursor: pointer;
    }
}

.drop-element {
    &.drop-open {
        z-index: 99;
    }
}


/**************************
 * Social connects
 **************************/
.jankx-socials {
    display: flex;
    width: 100%;

    .social-item {
        margin-right: 8px;
        a {
            display: flex;
        }
        svg, img {
            width: 40px;
            width: var(--social-icon-size);
            height: auto;
        }

        &+.social-item {
            margin-top: 0;
        }
    }
}
