body {
    font-family: var(--typography-primary-font);
    font-size: var(--typography-global-font-size);
    line-height: var(--typography-global-line-height);
}
small {
    font-size: 88%;
}

a {
    text-decoration: none;
}

strong {
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    line-height: 150%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5, h6 {
    font-size: 1.1rem;
}
