@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

// Only for tablet
@media (min-width: 768px) and (max-width: 991px) {
    .hide-tablet {
        display: none;
    }
}

@media (min-width: 992px) {
    .hide-desktop {
        display: none;
    }
    .tablet-only {
        display: none;
    }
}

@media(max-width: 991px) {
    .desktop-only {
        display: none;
    }
}

// Only for mobile
@media(max-width: 767px) {
    .tablet-only {
        display: none;
    }
    .hide-mobile {
        display: none;
    }
}
