.widget {
    &+.widget {
        margin-top: 20px;
    }
    .widget-title {
        font-size: 125%;
    }
}

.quick-search-form {
    display: flex;

    .text-wrap {
        flex: 1;
        input {
            width: 100%;
            border: none;
            padding: 2px 5px;
        }
    }
    .search-button {
        border: none;
    }
}