#commentform {
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    input[type="url"],
    input[type="email"] {
        width: 100%;
    }
}


.comment {
    margin-bottom: 20px;
    &+.comment {
        border-top: 1px solid #eee;
        padding-top: 20px;
    }
    .comment-body {
        display: flex;
    }
    .author-avatar {
        width: 150px;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .body {
        flex: 1;
    }
}
