/**!
 * Module Name: Jankx CSS
 * Author: Puleeno Nguyen
 * Author URI: https://puleeno.com
 * Description: This module is create the basic structure for Jankx theme. Other stylesheet will be defined in the theme
 * Version: 1.0.0.47
 */

@import "reset";
@import "tags";
@import "slideout";
@import "comments";
@import "jankx_elements";
@import "form";
@import "layout";
@import "menu";
@import "mobile_base";
@import "mobile_menu";
@import "base";
@import "footer_widgets";
@import "pagebuilders";
@import "socials";
@import "utilities";
@import "page_not_found";
@import "thumbnail";
@import "thirdparty/choices";
@import "thirdparty/elementor";
@import "thirdparty/mega_menu";

// Effects
@import "effects/shine";
@import "effects/wiggle";


// Extras

@import './author';
@import './extras/floating_button';

.post-thumbnail {
    position: relative;
    width: 100%; /* Ensure 100% width */
    padding-top: 75%; /* Aspect ratio 4:3 (3/4 = 0.75) */
    overflow: hidden; /* Hide overflowed image parts */
}

.post-thumbnail img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%; /* Ensure 100% width */
    height: auto; /* Automatic height to maintain aspect ratio */
    transform: translateX(-50%); /* Center the image */
}
