@charset "UTF-8";
/* == WordPress WYSIWYG Editor Styles == */
.wp-editor h1, .wp-editor h2, .wp-editor h3, .wp-editor h4, .wp-editor h5, .wp-editor h6 {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
  line-height: 1.1;
}
.wp-editor h1 {
  font-size: 2rem;
}
.wp-editor h2 {
  font-size: 1.8rem;
}
.wp-editor h3 {
  font-size: 1.5rem;
}
.wp-editor h4 {
  font-size: 1.25rem;
}
.wp-editor h5 {
  font-size: 1.1rem;
}
.wp-editor h6 {
  font-size: 1rem;
}
.wp-editor i, .wp-editor em {
  font-style: italic;
}
.wp-editor strong {
  font-weight: 700;
}
.wp-editor .alignleft,
.wp-editor img.alignleft {
  margin-right: 1.5em;
  display: block;
  float: left;
}
.wp-editor .alignright,
.wp-editor img.alignright {
  margin-left: 1.5em;
  display: block;
  float: right;
}
.wp-editor .aligncenter,
.wp-editor img.aligncenter {
  margin-right: auto !important;
  margin-left: auto !important;
  display: block;
  clear: both;
  margin-bottom: 10px !important;
}
.wp-editor .alignnone,
.wp-editor img.alignnone {
  /* not sure about this one */
}
.wp-editor .wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
  max-width: 100%;
}
.wp-editor .wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.wp-editor :not(.wp-caption) > img {
  margin: 10px 0 15px 0;
}
.wp-editor .wp-caption p.wp-caption-text {
  line-height: 1.5;
}
.wp-editor .wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
.wp-editor blockquote {
  margin: 20px 0;
  padding: 30px;
  background: #e8f8ff;
  border-left: 5px solid #123c4d;
  position: relative;
}
.wp-editor blockquote:before {
  content: "❝";
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.wp-editor blockquote:after {
  content: "❞";
  font-size: 30px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.wp-editor blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
.wp-editor blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}