/**!
 * Module Name: Jankx CSS
 * Author: Puleeno Nguyen
 * Author URI: https://puleeno.com
 * Description: This module is create the basic structure for Jankx theme. Other stylesheet will be defined in the theme
 * Version: 1.0.0.3
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

small {
  font-size: 88%;
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 150%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5, h6 {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .slideout-menu {
    display: block;
  }

  .slideout-panel .toggle-button {
    display: none;
  }

  .slideout-open .slideout-panel {
    transform: none !important;
  }
}
@media (max-width: 767px) {
  .admin-bar .slideout-menu {
    padding-top: 46px;
  }

  body {
    width: 100%;
    height: 100%;
  }

  .slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    /* A background-color is required */
    min-height: 100vh;
  }
  .slideout-panel .toggle-button {
    display: block;
  }

  .slideout-menu-left {
    left: 0;
  }

  .slideout-menu-right {
    right: 0;
  }

  .slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }
}
/* == WordPress WYSIWYG Editor Styles == */
.entry-content img {
  margin: 0 0 1.5em 0;
}

.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: block;
  float: left;
}

.alignright,
img.alignright {
  margin-left: 1.5em;
  display: block;
  float: right;
}

.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.alignnone,
img.alignnone {
  /* not sure about this one */
}

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}

.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.widget + .widget {
  margin-top: 20px;
}
.widget .widget-title {
  font-size: 125%;
}

.quick-search-form {
  display: flex;
}
.quick-search-form .text-wrap {
  flex: 1;
}
.quick-search-form .text-wrap input {
  width: 100%;
  border: none;
  padding: 2px 5px;
}
.quick-search-form .search-button {
  border: none;
}

#commentform textarea,
#commentform input[type=text],
#commentform input[type=password],
#commentform input[type=date],
#commentform input[type=number],
#commentform input[type=url],
#commentform input[type=email] {
  width: 100%;
}

.comment {
  margin-bottom: 20px;
}
.comment + .comment {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.comment .comment-body {
  display: flex;
}
.comment .author-avatar {
  width: 150px;
}
.comment .author-avatar img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.comment .body {
  flex: 1;
}

.clearfix, .jankx-clearfix {
  clear: both;
}

.jankx-loading {
  display: none;
}

.jankx-logo.image a {
  display: block;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100%;
  height: 60px;
  width: 180px;
  text-indent: -9999px;
}

#jankx-main-content {
  line-height: 180%;
  position: relative;
}
#jankx-main-content > .post {
  text-align: justify;
}

.jankx-footer-widgets-area {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jankx-copyright {
  padding-top: 40px;
  padding-bottom: 40px;
}

article .post-content {
  margin-top: 10px;
}
article .post-content img {
  max-width: 100%;
}
article .post-content ul {
  list-style: disc;
  margin-left: 20px;
  margin-top: 20px;
}
article .post-content ul ul {
  list-style: circle;
}
article .post-content ul ul ul {
  list-style: square;
}
article .post-content ol {
  list-style: decimal;
}

table {
  margin-top: 20px;
}
table thead th, table td.heading {
  font-weight: bold;
  background: #e5e5e5;
}
table:not(.no-border) th, table:not(.no-border) td {
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 5px;
}

@media (min-width: 767px) {
  .jankx-site-header.sticky-header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .jankx-ui.navigation .jankx-subtitle {
    font-size: 88%;
  }
  .jankx-ui.navigation .jankx-subtitle.position-bottom, .jankx-ui.navigation .jankx-subtitle.position-top {
    display: block;
  }
  .jankx-ui.navigation .jankx-subtitle.position-top {
    margin-bottom: 2px;
  }
  .jankx-ui.navigation .jankx-subtitle.position-bottom {
    margin-top: 2px;
  }
}
@media (max-width: 767px) {
  .jankx-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.jankx-container {
  clear: both;
}

#jankx-site-footer {
  clear: both;
}

.main-content {
  word-wrap: break-word;
}
.main-content p + p {
  margin-top: 10px;
}

#jankx-main-content, .sidebar {
  min-height: 100px;
}

.jankx-fw #jankx-main-content {
  width: 100%;
}

@media (min-width: 767px) {
  .main-content-sidebar-inner {
    display: flex;
    flex-wrap: wrap;
  }

  body:not(.jankx-fw) .main-content-sidebar-inner {
    margin-left: -10px;
    margin-right: -10px;
  }
  body:not(.jankx-fw) #jankx-main-content, body:not(.jankx-fw) #jankx-primary-sidebar, body:not(.jankx-fw) #jankx-secondary-sidebar {
    padding-left: 10px;
    padding-right: 10px;
  }

  #jankx-main-content {
    width: 100%;
  }

  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 50%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 50%;
    order: 1;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 50%;
    order: 2;
  }

  .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 50%;
  }
  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 25%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 25%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 25%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 70%;
  }
  .jankx-sc .sidebar, .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs .sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 30%;
  }

  .jankx-sc #jankx-main-content {
    order: 2;
  }
  .jankx-sc #jankx-primary-sidebar {
    order: 1;
  }

  .jankx-scs #jankx-main-content {
    order: 2;
  }
  .jankx-scs #jankx-primary-sidebar {
    order: 1;
  }
  .jankx-scs #jankx-secondary-sidebar {
    order: 3;
  }

  .jankx-css #jankx-main-content {
    order: 1;
  }
  .jankx-css #jankx-primary-sidebar {
    order: 2;
  }
  .jankx-css #jankx-secondary-sidebar {
    order: 3;
  }

  .jankx-ssc #jankx-main-content {
    order: 3;
  }
  .jankx-ssc #jankx-primary-sidebar {
    order: 1;
  }
  .jankx-ssc #jankx-secondary-sidebar {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .jankx-scs #jankx-main-content, .jankx-css #jankx-main-content, .jankx-ssc #jankx-main-content {
    width: 60%;
  }
  .jankx-scs .sidebar, .jankx-css .sidebar, .jankx-ssc .sidebar {
    width: 20%;
  }
  .jankx-scs #jankx-primary-sidebar, .jankx-css #jankx-primary-sidebar, .jankx-ssc #jankx-primary-sidebar {
    width: 20%;
  }
  .jankx-scs #jankx-secondary-sidebar, .jankx-css #jankx-secondary-sidebar, .jankx-ssc #jankx-secondary-sidebar {
    width: 20%;
  }

  .jankx-sc #jankx-main-content, .jankx-cs #jankx-main-content {
    width: 72.5%;
  }
  .jankx-sc .sidebar, .jankx-sc #jankx-primary-sidebar, .jankx-sc #jankx-secondary-sidebar, .jankx-cs .sidebar, .jankx-cs #jankx-primary-sidebar, .jankx-cs #jankx-secondary-sidebar {
    width: 27.5%;
  }
}
@media (min-width: 768px) {
  #mobile-menu {
    position: relative;
    background-color: #fff;
    z-index: 99;
  }

  .default-navigation .navigation {
    width: 100%;
  }
  .default-navigation .menu-item-type-jankx-search-form {
    flex: 1;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu, .default-navigation .navigation > div.menu > ul {
    display: flex;
    align-items: center;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu > li, .default-navigation .navigation > div.menu > ul > li {
    position: relative;
    padding: 5px 5px;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu > li:hover .sub-menu, .default-navigation .navigation > div.menu > ul > li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu > li.jkxp-center, .default-navigation .navigation > div.menu > ul > li.jkxp-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu > li.jkxw-stretch, .default-navigation .navigation > div.menu > ul > li.jkxw-stretch {
    flex: 1;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu > li.strong, .default-navigation .navigation > div.menu > ul > li.strong {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu .sub-menu, .default-navigation .navigation > div.menu > ul .sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    top: 100%;
    z-index: 10;
    background: #fff;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu .sub-menu > li, .default-navigation .navigation > div.menu > ul .sub-menu > li {
    position: relative;
    display: block;
    white-space: nowrap;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu .sub-menu > li:hover .sub-menu, .default-navigation .navigation > div.menu > ul .sub-menu > li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu .sub-menu > li > .sub-menu, .default-navigation .navigation > div.menu > ul .sub-menu > li > .sub-menu {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    position: absolute;
    top: 0;
    left: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.hide-tablet, .default-navigation .navigation > div.menu > ul li.hide-tablet {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.mobile-only, .default-navigation .navigation > div.menu > ul li.mobile-only {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.desktop-only, .default-navigation .navigation > div.menu > ul li.desktop-only {
    display: none;
  }
}
@media (min-width: 992px) {
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.hide-desktop, .default-navigation .navigation > div.menu > ul li.hide-desktop {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.mobile-only, .default-navigation .navigation > div.menu > ul li.mobile-only {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.tablet-only, .default-navigation .navigation > div.menu > ul li.tablet-only {
    display: none;
  }
}
@media (max-width: 767px) {
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li, .default-navigation .navigation > div.menu > ul li {
    /*******************************
     * Work with menu-icons plugins
     ******************************/
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.hide-mobile, .default-navigation .navigation > div.menu > ul li.hide-mobile {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.desktop-only, .default-navigation .navigation > div.menu > ul li.desktop-only {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.tablet-only, .default-navigation .navigation > div.menu > ul li.tablet-only {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.mobile-hide-text span, .default-navigation .navigation > div.menu > ul li.mobile-hide-text span {
    display: none;
  }
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li.mobile-hide-icon ._mi, .default-navigation .navigation > div.menu > ul li.mobile-hide-icon ._mi {
    display: none;
  }
}
@media (min-width: 1200px) {
  .default-navigation :not(.widget_nav_menu) > div > ul.menu li, .default-navigation .navigation > div.menu > ul li {
    padding: 5px 10px;
  }
}
/**
 * Reset IOS input styles
 */
input[type=text], input[type=button], input[type=submit], input[type=reset] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.jankx-base .jankx-container {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.screen-reader-text {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.widgets-area-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.widgets-area-inner ul li + li {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .footer-widgets-area .jankx-container {
    overflow: hidden;
  }

  .widgets-area-inner {
    margin-left: -10px;
    margin-right: -10px;
  }
  .widgets-area-inner .jankx-footer-widget {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .jankx-footer-widget {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .jankx-footer-widget {
    width: 100%;
  }
  .jankx-footer-widget + .jankx-footer-widget {
    margin-top: 20px;
  }
}
/************************
 * Social sharing
 ************************/
#jankx-sharing-content {
  display: none;
}

.social-sharing-button {
  cursor: pointer;
}

.jankx-socials-sharing .jankx-sharing-button {
  cursor: pointer;
}

.drop-element.drop-open {
  z-index: 99;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
@media (min-width: 992px) {
  .hide-desktop {
    display: none;
  }
}
body.error404 {
  background-color: #fafbfd;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}

.notfound .notfound-bg > div {
  width: 100%;
  background: #fff;
  border-radius: 90px;
  height: 125px;
}

.notfound .notfound-bg > div:nth-child(1) {
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
  box-shadow: 5px 5px 0px 0px #f3f3f3;
}

.notfound .notfound-bg > div:nth-child(2) {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
  box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 10;
}

.notfound .notfound-bg > div:nth-child(3) {
  -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
  box-shadow: 5px 5px 0px 0px #f3f3f3;
  position: relative;
  z-index: 90;
}

.notfound h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 86px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
  color: #151515;
}

.notfound h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  margin: 0;
  font-weight: 700;
  color: #151515;
}

.notfound a {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #18e06f;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
}

.notfound-social {
  margin-top: 20px;
}

.notfound-social > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #dedede;
  margin: 3px;
  padding: 0px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound-social > a:hover {
  background-color: #18e06f;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-bg {
    width: 287px;
    margin: auto;
  }

  .notfound .notfound-bg > div {
    height: 85px;
  }
}
@media only screen and (max-width: 480px) {
  .notfound h1 {
    font-size: 68px;
  }

  .notfound h2 {
    font-size: 18px;
  }
}